h1 {
    background-color: aqua;
    color: black;
}

h2 {
    
    color: rgb(150, 20, 19);
}
h3 {
    background-color: rgb(170,119, 206);
}

h4 {
    background-color: red;
    color: black;
}
h5 {
    background-color: rgb(150, 149, 150);
    color: rgb(50, 29, 234);
}