h1 {
    background-color: aqua;
    color: black;
}

h2{
    background-color: aquamarine;
    color: rgb(150, 20, 19);
}
h3 {
    background-color: rgb(170,119, 206);
    color: bisque;
}

h4 {
    background-color: red;
    color: black;
}
h3 {
    background-color: rgb(150, 149, 150);
    color: rgb(50, 29, 234);
}
h4{
    background-color: lightgreen;
    color: chocolate;
}

